.features {
    background: $gray-100;
    padding: 80px 0;

    .container {
        display: grid;
        justify-content: center;
        text-align: center;

        h1 {
            @include h1;
            padding-bottom: 10px
        }

        p {
            @include text-lg;
            padding: 0 0px 0 0px;

            @include xxl {
                padding: 0 330px 0 330px;
            }
        }

        .tool-features {
            margin-top: 20px;
            display: grid;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .box {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;

                @include lg {
                    &:nth-child(1) {
                        border-top: 0px solid $gray-300;
                        border-left: 0px solid $gray-300;
                    }

                    &:nth-child(2) {
                        border-top: 0px solid $gray-300;
                    }

                    &:nth-child(3) {
                        border-top: 0px solid $gray-300;
                        border-right: 0px solid $gray-300;
                    }

                    &:nth-child(4) {
                        border-bottom: 0px solid $gray-300;
                        border-left: 0px solid $gray-300;
                    }

                    &:nth-child(5) {
                        border-bottom: 0px solid $gray-300;
                    }

                    &:nth-child(6) {
                        border-bottom: 0px solid $gray-300;
                        border-right: 0px solid $gray-300;
                    }
                }

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    background: $white;
                    @include shadow-m;
                }

                img {
                    padding: 10px;
                    background-color: $gray-100;
                    margin: 20px;
                    border-radius: 8px;
                    height: 72px;
                    width: 72px;
                }

                h5 {
                    @include h5;
                }

                p {
                    @include text-m;
                    padding: 0 10px 0 10px;
                }
            }
        }
    }
}
